*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Arimo", sans-serif;
    color: #2e2e2e;
    text-align: center;
}


/* COMMON FEATURES */

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 75%;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul,
p {
    letter-spacing: 0.1em;
}


/* HEADER */

header {
    position: fixed;
    width: 100%;
    padding: 0.75em 1.25em;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    text-transform: uppercase;
    color: #ededef;
}

.logo {
    align-items: center;
    gap: 1em;
}

.fa-face-grin-beam {
    font-size: 1.5rem;
}

/* header img {
    width: 3rem;
    border-radius: 100%;
    box-shadow: 0 0 10px #fb81c3;
} */

h1 {
    font-size: 0.75rem;
}

/* TO BE DONE VIA JS */

.nav-img {
    display: none;
    filter: invert(100%) brightness(110%);
}

.close-img {
    display: none;
    filter: invert(100%) brightness(110%);
}

.header__sm-menu {
    display: none;
}

nav ul {
    display: none;
}

/* --- */

li a:hover {
    color: #fb81c3;
    text-shadow: 0 0 1px #fb81c3;
    border-bottom: 4px solid #fb81c3;
}


/* MAIN */

/* SECTION 1 HOME */

#home-section {
    background: #fb81c3 url("/images/bg-gradients/bg-img-1.png");
    background-size: cover;
}

#home-section .container {
    margin: 0 auto;
    padding: 7.5rem 0 3.5rem;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

.h2-new-line {
    display: block;
    padding-bottom: 1em;
    border-bottom: 2px solid #fb81c3;
}

#home-section p {
    margin: 3em 0 0;
}


/* SECTION 2 PROJECTS */

#project-section {
    background-color: #b2a8a6;
    color: #2e2e2e;
}

#project-section .container {
    padding: 5rem 0 3.5rem;
}

.a-btn {
    padding: 0.75rem 1.5em;
    background-color: #ededef;
    border-radius: 10px;
    box-shadow: 0 0 5px #b2a8a6;
    color: #2e2e2e;
}

.a-btn:hover {
    background-color: #fb81c3;
    color: #ededef;
    /* box-shadow: 1px 1px 10px #ededef; */
}

#project-section p {
    padding: 2.5em 0 1em;
    width: 60%;
    margin: 0 auto;
}

.grid {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.grid img:hover {
    /* z-index: -1; */
    box-shadow: 2px 2px 10px #fb81c3;
    filter: brightness(70%) hue-rotate(300deg);
}


/* SECTION 3 ABOUT */

#about-section {
    background-color: #f5dcd8;
    color: #2e2e2e;
}

#about-section .container {
    padding: 4.25rem 0 3.5rem;
}

h3 {
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 2rem;
}

.skills-section {
    justify-content: center;
}

h4 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.5rem;
}

h4,
.skills {
    margin: 0;
    text-align: center;
}

.skills {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}

.skills li {
    margin: 0.25em;
    padding: 0.5em 1em;
    background-color: #ededef;
    border-radius: 10px;
    font-size: 1rem;
}


/* FOOTER */

footer {
    padding: 1em;
    background-color: #2e2e2e;
    color: #ededef;
}

.contact {
    padding: 0.5em 0;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contact a {
    font-size: 2.5rem;
}

.contact a:hover {
    color: #fb81c3;
}

.contact p {
    margin: 0;
}

/* MEDIA QUERIES */

@media (min-width: 620px) {
    nav ul {
        display: flex;
        font-size: 0.75rem;
        gap: 2em;
    }
    #home-section .container {
        padding: 8rem 0 3.5rem;
    }
    #project-section .container {
        padding: 5.5rem 0 3.5rem;
    }
    #about-section .container {
        padding: 4.75rem 0 3.5rem;
    }
}

@media (min-width: 770px) {
    h2,
    h3 {
        font-size: 2.75rem;
    }
    p,
    .a-btn {
        font-size: 1.25rem;
    }
    .a-btn {
        padding: 1rem 1.5em;
    }
    h4 {
        font-size: 2rem;
    }
    .contact a {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .fa-face-grin-beam {
        font-size: 2.25rem;
    }
    h1 {
        font-size: 1.25rem;
    }
    nav ul {
        font-size: 1.5rem;
    }
    #home-section .container {
        padding: 11rem 0 5.5rem;
    }
    #project-section .container {
        padding: 8.5rem 0 5.5rem;
    }
    #about-section .container {
        padding: 7.75rem 0 5.5rem;
    }
    h2,
    h3 {
        font-size: 3.5rem;
    }
    #home-section p,
    .a-btn,
    #project-section p,
    .contact p {
        font-size: 2rem;
    }
    .a-btn {
        padding: 1.5rem 1.5em;
    }
    h4 {
        font-size: 2.5rem;
    }
    .about-main {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    #about-section p {
     width: 55%;
    }
    .skills li {
        font-size: 1.2rem;
    }
    .contact a {
        font-size: 4.25rem;
    }
}
@media (min-width: 1300px) {
    .about-main {
        justify-content: space-around;
    }
    h4 {
        padding-top: 0.5em;
    }
}

/* @media (min-width: 1280px) {} */
/* @media (min-width: 410px) {} */
/* @media (min-width: 1370px) {} */