*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #2e2e2e;
    text-align: center;
}


/* SHARED AND TYPOGRAPHY */

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 75%;
}

#project .container,
#about .container {
    padding: 4.25rem 0 3.5rem;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    /* font-weight: 700; */
    text-transform: uppercase;
}

nav ul,
p {
    margin: 0;
    letter-spacing: 0.1em;
}

p {
    font-size: 1.25rem;
}

h6 {
    margin: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 100;
}

h2,
h3 {
    font-size: 3.5rem;
}

h1 {
    font-size: 5rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.6em;
    border-bottom: 2px solid #fb81c3;
}

h2 {
    padding-bottom: 1em;
}

h3 {
    padding-bottom: 0.75em;
}

h4 {
    padding: 1.5em 0 0.5em;
    font-size: 2.25rem;
}


/* HEADER */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 1em 1.25em;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    text-transform: uppercase;
    color: #ededef;
}

.logo {
    align-items: center;
    gap: 1em;
}

.fa-face-grin-beam {
    font-size: 1.5rem;
}

/* TO BE DONE VIA JS */

.nav-img {
    display: none;
    filter: invert(100%) brightness(110%);
}

.close-img {
    display: none;
    filter: invert(100%) brightness(110%);
}

.header__sm-menu {
    display: none;
}

nav ul {
    display: none;
    gap: 2em;
}

/* --- */

li a:hover {
    color: #fb81c3;
    text-shadow: 0 0 1px #fb81c3;
    border-bottom: 4px solid #fb81c3;
}


/* MAIN */

/* HOME */

#home {
    background: #fb81c3 url("/images/bg-gradients/bg-img-3.png");
    background-size: cover;
}

#home .container {
    margin: 0 auto;
    padding: 7.5rem 0 3.5rem;
}


/* PROJECTS */

#project {
    /* background-color: #f4cbd4; */
    background-color: #f6a6cb;
    color: #2e2e2e;
}

.a-btn {
    padding: 0.75rem 1.5em;
    background-color: #ededef;
    border-radius: 10px;
    box-shadow: 0 0 5px #2e2e2e;
    font-size: 1.5rem;
    color: #2e2e2e;
}

.a-btn:hover {
    background-color: #fb81c3;
    color: #ededef;
    box-shadow: 0 0 5px #ededef;
}

#project p {
    padding: 1.5em 0 1em;
    width: 60%;
    margin: 0 auto;
}

.grid {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.grid img:hover {
    z-index: -1;
    box-shadow: 0 0 20px #fb81c3;
    filter: brightness(70%) hue-rotate(300deg);
}


/* ABOUT */

#about {
    /* background-color: #f6a6cb; */
    background-color: #f4cbd4;
    color: #2e2e2e;
}

.about .about-p {
    font-size: 1rem;
}

.skills-section {
    justify-content: center;
}

h4,
.skills {
    margin: 0;
    text-align: center;
}

.skills {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}

.skills li {
    margin: 0.25em;
    padding: 0.5em 1em;
    background-color: #ededef;
    border-radius: 10px;
    font-size: 1rem;
}


/* FOOTER */

footer {
    padding: 1em;
    background-color: #2e2e2e;
    color: #ededef;
}

.contact {
    padding: 0.5em 0;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contact a {
    font-size: 2.5rem;
}

.contact a:hover {
    color: #fb81c3;
}

.contact p {
    margin: 0;
}


/* MEDIA QUERIES */

@media (min-width: 620px) {
    nav ul {
        display: flex;
    }
}

@media (min-width: 970px) {
    #project .container {
        width: 715px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 1.25em 1.5em;
    }
    #home .container {
        padding: 10.25rem 0 5.5rem;
    }
    #project .container,
    #about .container {
        padding: 7.5rem 0 5.5rem;
    }
    #about .container {
        max-width: 90%;
    }
    .fa-face-grin-beam {
        font-size: 2.25rem;
    }
    h6,
    nav ul {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 7rem;
    }
    h2,
    h3 {
        font-size: 5rem;
    }
    h4 {
        padding: 0.5em 0 0.5em;
        font-size: 3.5rem;
    }
    #home p,
    #project p,
    #contact p {
        font-size: 1.75rem;
    }
    .a-btn {
        padding: 1rem 1.5em;
        font-size: 2rem;
    }
    .about-main {
        display: flex;
        gap: 5rem;
        align-items: start;
    }
    #about p {
     width: 55%;
    }
    .skills li {
        font-size: 1.2rem;
    }
    .contact a {
        font-size: 3.5rem;
    }
}

@media (min-width: 1300px) {
    .about-main {
        justify-content: space-around;
    }
    h4 {
        padding-top: 0;
    }
}